<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>className</key>
		<string>디스트로이어</string>
		<key>classImage</key>
		<string>디스트로이어</string>
	</dict>
	<dict>
		<key>className</key>
		<string>버서커</string>
		<key>classImage</key>
		<string>버서커</string>
	</dict>
	<dict>
		<key>className</key>
		<string>슬레이어</string>
		<key>classImage</key>
		<string>슬레이어</string>
	</dict>
	<dict>
		<key>className</key>
		<string>워로드</string>
		<key>classImage</key>
		<string>워로드</string>
	</dict>
	<dict>
		<key>className</key>
		<string>홀리나이트</string>
		<key>classImage</key>
		<string>홀리나이트</string>
	</dict>
	<dict>
		<key>className</key>
		<string>기공사</string>
		<key>classImage</key>
		<string>기공사</string>
	</dict>
	<dict>
		<key>className</key>
		<string>배틀마스터</string>
		<key>classImage</key>
		<string>배틀마스터</string>
	</dict>
	<dict>
		<key>className</key>
		<string>스트라이커</string>
		<key>classImage</key>
		<string>스트라이커</string>
	</dict>
	<dict>
		<key>className</key>
		<string>인파이터</string>
		<key>classImage</key>
		<string>인파이터</string>
	</dict>
	<dict>
		<key>className</key>
		<string>창술사</string>
		<key>classImage</key>
		<string>창술사</string>
	</dict>
	<dict>
		<key>className</key>
		<string>건슬링어</string>
		<key>classImage</key>
		<string>건슬링어</string>
	</dict>
	<dict>
		<key>className</key>
		<string>데빌헌터</string>
		<key>classImage</key>
		<string>데빌헌터</string>
	</dict>
	<dict>
		<key>className</key>
		<string>블래스터</string>
		<key>classImage</key>
		<string>블래스터</string>
	</dict>
	<dict>
		<key>className</key>
		<string>스카우터</string>
		<key>classImage</key>
		<string>스카우터</string>
	</dict>
	<dict>
		<key>className</key>
		<string>호크아이</string>
		<key>classImage</key>
		<string>호크아이</string>
	</dict>
	<dict>
		<key>className</key>
		<string>바드</string>
		<key>classImage</key>
		<string>바드</string>
	</dict>
	<dict>
		<key>className</key>
		<string>서머너</string>
		<key>classImage</key>
		<string>서머너</string>
	</dict>
	<dict>
		<key>className</key>
		<string>소서리스</string>
		<key>classImage</key>
		<string>소서리스</string>
	</dict>
	<dict>
		<key>className</key>
		<string>아르카나</string>
		<key>classImage</key>
		<string>아르카나</string>
	</dict>
	<dict>
		<key>className</key>
		<string>데모닉</string>
		<key>classImage</key>
		<string>데모닉</string>
	</dict>
	<dict>
		<key>className</key>
		<string>리퍼</string>
		<key>classImage</key>
		<string>리퍼</string>
	</dict>
	<dict>
		<key>className</key>
		<string>블레이드</string>
		<key>classImage</key>
		<string>블레이드</string>
	</dict>
	<dict>
		<key>className</key>
		<string>소울이터</string>
		<key>classImage</key>
		<string>소울이터</string>
	</dict>
	<dict>
		<key>className</key>
		<string>기상술사</string>
		<key>classImage</key>
		<string>기상술사</string>
	</dict>
	<dict>
		<key>className</key>
		<string>도화가</string>
		<key>classImage</key>
		<string>도화가</string>
	</dict>
</array>
</plist>
